.container3 {
  display: flex;
  flex-wrap: wrap;
}

.container3 > div {
  flex: 33.33%;
  /* margin: 10px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 100px; */
  padding:15px 50px;
  
}

.card-img-top{
  width: 225px !important;
  text-align: center !important;
}
.addtocartbu{
  padding: 7px;
  background-color: #A4895D;
  color: white !important;
  border: none;
  outline: none;
}
.addtocartbu>a:hover{ 
  color: white !important;
  outline: none!important;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn1{
  background-color: #A4895D;
  border:none;
}
.btn1:hover{
  border: none;
  background-color: #4e412b !important;
}