.content {
  padding: 5px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-2{
  padding:2% 12%;
}
.card {
  width: 252px !important;
  margin:2%;
}
.card-img-top {
  width: auto;
  height: 170px;
  /* text-align: center; */
  margin: 2%;
}
.card-body {
  width: 250px;
}
.card-text{
  font-size:15px;
}
