body{
    margin:0;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    background-color: #fff;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.navbar-nav{
    margin-left:auto;
}
.navbar{

    padding-bottom: 8%;
    font-size: 1em;
}
.container-1{
    background-color: #2C3333;
    padding: 1% 9%;
    padding-bottom:0;
    color: #fff;
}
.heading1{
    font-size:3em;
}
.navbar-brand{
    font-size: 1.5rem;;
}
.head-img{
    width:50%;
    height:70%;
    border-radius: 10%;
}
.box{
    /* border: black solid; */
    text-align: center;
}
.box:hover{
    cursor: pointer;
}
.img{
    width:50%;
    height:50%;
    border-style:dotted;
    border-radius: 50%;
    padding:1%;
    border-color: gray;
    margin-bottom:5%;
    
}
.container-2{
    padding:2% 12%;
}

.container-3{
    background-color: #2C3333;
    color: #fff;
    text-align: center;
    padding:3%;
    position:relative;
    bottom:0;
}

/* about us */


	
.box-main{
	
	/* This is to display the contact us and the
	sentences below it to be displayed in flex */
	display:flex;
	justify-content:center;
	align-items:center;
	
	/* This is to display the text to have
	a color of white */
	color:white;
	
	/* Now we will set the margin to auto */
	/* This will make all the text to be
	displayed at the center of the page */
	margin:auto;
	
	/* This will make the text to display at
	the center of the page vertically */
	height:80%;
}
	
.firstHalf{	
	padding: 2% 15%;
	margin:2% auto;
	background-color: rgb(242 243 244);
}
	

.text-big{
	color:black;
	text-align:center;
}
	
.text-small{	
	color:black;
	text-align:center;
}
	
	
.service{
	text-align: center;
}
.box{
	display: inline-block;
	padding:3% 3%;
}
.box-img{
	height:150px;
	width:150px;

}

.team-content1{
    text-align: left;
}

.team-content2{
    text-align: right;
}
.container-5{
    padding:2% 12%;
    text-align: center;
}
.team{
    padding: 5% 5%;
    display:flex;
    flex-direction: row;
}
.team-rev{
    padding: 5% 5%;
    display:flex;
    flex-direction: row-reverse;
}

@media  only screen and (max-width : 1000px) {
    .team-content1{
        width: 70%;
        margin: 2% auto;
        text-align: center;
    }
}