{% extends "generic.html" %}
{% load static %}

{% block CSS-links %}
<link rel="stylesheet" href="{% static 'CSS/contract.css' %} " />

{% endblock CSS-links %}

{% block container-2 %}

<section id="content">
    <div class="heading">
        <h2>Contract Farming</h2>
        <p style=>Contract farming can be defined as agricultural production carried out according to an agreement
            between a
            buyer and farmers, which establishes conditions for the production and marketing of a farm product or
            products.
            Typically, the farmer agrees to provide agreed quantities of a specific agricultural product.</p>



        <h3>We also provide different types of services based on contract farming</h3>
        <p> We have total 5 Lands which have their different length, and the length is starting form 10000ft t0 20000ft.
            We can give our land
            on rent and we'll make a contract for that.<br>
            In Contract we'll mentioned that the for how many days we are giving land, and what types of crops will be
            grow overthere, if
            you are using other crops rather than given in the contract, you have to pay penalty for that.
        </p>

        <h2>Other Services</h2>

    </div> <br>

    

    <div class="service">
        <div class="container">
            <div class="row service_parent" id="net_house">

                <div class="col-md-4">
                    <div class="blur_bg" style="background-image: url('static/Images/hello1.jpg');"></div>
                    <div class="semi_transparent"></div>
                    <div class="image_container">
                        <center>
                            <table>
                                <tr>
                                    <td valign="middle" style="text-align: center;">
                                        <img src="static/Images/hello1.jpg"style="height: 300px; width: 300px;" />
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3><a href="#">Net House</a></h3>
                    <hr>

                    <p>Backed by the support of our skilled professionals, we are engaged in manufacturing, trading
                        and supplying a huge gamut of <b>Net House.</b>
                    </p>
                    <i class="fa fa-check-square-o"></i>&nbsp;<b>Uses:</b><br>
                    <ul>
                        <li>Widely used for growing vegetables, fruits and flowers </li>
                    </ul>
                    <br>
                    <i class="fa fa-navicon"></i>&nbsp;<b>Features:</b><br>
                    <ul>
                        <li>Excellent ventilation</li>
                        <li>Perfect cooling effect for plants</li>
                        <li>Easy to maintain</li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <div class="row service_parent">

                <div class="col-md-8">
                    <h3><a href="#">Green House</a></h3>
                    <hr>
                    <p>Owing to our vast knowledge and experience in this domain, we are engaged in manufacturing,
                        trading and supplying an excellent assortment of <b>Green House.</b></p><br>

                    <i class="fa fa-check-square-o"></i>&nbsp; <b>Uses:</b><br>
                    <ul>
                        <li>Used for off season growing of plants, fruits and vegetables.</li>

                        </br>
                        <i class="fa fa-navicon"></i>&nbsp; <b>Features:</b><br>
                        <ul>
                            <li>Easy intallation</li>
                            <li>Weather resistance</li>
                            <li>Fine finish</li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <div class="blur_bg" style="background-image: url('static/Images/hello2.jpg');"></div>
                    <div class="semi_transparent"></div>
                    <div class="image_container">
                        <center>
                            <table>
                                <tr>
                                    <td valign="middle" style="text-align: center;">
                                        <img src="static/Images/hello2.jpg" style="height: 300px; width: 300px;"/>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row service_parent">

                <div class="col-md-4">
                    <div class="blur_bg" style="background-image: url('static/Images/hello3.jpg');"></div>
                    <div class="semi_transparent"></div>
                    <div class="image_container">
                        <center>
                            <table>
                                <tr>
                                    <td valign="middle" style="text-align: center;">
                                        <img src="static/Images/hello3.jpg"style="height: 300px; width: 300px;"  />
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>

                <div class="col-md-8">
                    <h3><a href="#">Agro Green House</a></h3>
                    <hr>
                    <p>Being a leading firm in this industry, we are manufacturing, trading and supplying an
                        extensive range of <b>Agro Green House</b>.</p><br>
                    <i class="fa fa-check-square-o"></i>&nbsp; <b>Uses:</b><br>
                    <ul>
                        <li>Used to provide complete protection of plants from harsh weather conditions.</li>
                        </br>
                        <i class="fa fa-navicon"></i>&nbsp;<b>Features:</b><br>
                        <ul>
                            <li>Impeccable finish</li>
                            <li>Designed to withstand high wind speed</li>
                            <li>High durability</li>
                        </ul>
                </div>
            </div>
            <br>
            <br>
            <div class="row service_parent">


                <div class="col-md-8">
                    <h3><a href="#">Poly Green House</a></h3>
                    <hr>
                    <p>By keeping track of current market development, we are engaged in manufacturing, trading and
                        supplying an excellent range of <b>Poly Green House</b>.</p>
                    <br>
                    <i class="fa fa-check-square-o"></i>&nbsp; <b>Uses:</b><br>
                    <ul>
                        <li>For protecting the crops against heavy rain and air</li>
                        <li>Enables the farmers to utilize the waste land and cultivate the off-season vegetables
                            and fruits, etc.</li>
                        </br>
                        <i class="fa fa-navicon"></i>&nbsp;<b>Features:</b>
                        <ul>
                            <li>Fine finish</li>
                            <li>Easy to install</li>
                            <li>Weather resistance</li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <div class="blur_bg" style="background-image: url('static/Images/hello4.jpg');"></div>
                    <div class="semi_transparent"></div>
                    <div class="image_container">
                        <center>
                            <table>
                                <tr>
                                    <td valign="middle" style="text-align: center;">
                                        <img src="static/Images/hello4.jpg" style="height: 300px; width: 300px;" />
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">

                <div class="col-md-6">
                    <div class="blur_bg blur_bg_big" style="background-image: url('static/Images/hello5.jpg');"></div>
                    <div class="semi_transparent semi_transparent_big "></div>
                    <h3 class="box_title">Agricultural Green House</h3>
                    <div class="image_container_big image_container">
                        <center>
                            <table>
                                <tr>
                                    <td valign="middle" style="text-align: center;">
                                        <img src="static/Images/hello5.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blur_bg blur_bg_big" style="background-image: url('static/Images/hello6.jpg');"></div>
                    <div class="semi_transparent semi_transparent_big "></div>
                    <h3 class="box_title">Nursery Green House</h3>
                    <div class="image_container_big image_container">
                        <center>
                            <table>
                                <tr>
                                    <td valign="middle" style="text-align: center;">
                                        <img src="static/Images/hello6.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="blur_bg blur_bg_big" style="background-image: url('static/Images/hello7.jpg');"></div>
                    <div class="semi_transparent semi_transparent_big "></div>
                    <h3 class="box_title">Transgenic Green House</h3>
                    <div class="image_container_big image_container">
                        <center>
                            <table>
                                <tr>
                                    <td valign="middle" style="text-align: center;">
                                        <img src="static/Images/hello7.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blur_bg blur_bg_big" style="background-image: url('static/Images/hello8.jpg');"></div>
                    <div class="semi_transparent semi_transparent_big "></div>
                    <h3 class="box_title">Ventilated Green House</h3>
                    <div class="image_container_big image_container">
                        <center>
                            <table>
                                <tr>
                                    <td valign="middle" style="text-align: center;">
                                        <img src="static/Images/hello8.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>
            </div>


        </div>
    </div>






</section>




{% endblock container-2 %}