{% extends "generic.html" %}
{% load static %}

{% block CSS-links %}
<link rel="stylesheet" href="{% static 'CSS/forgot-password.css' %} " />

{% endblock CSS-links %}

{% block container-2 %}
<section class="container-2">
        
    
    <form action="#" class="form1" method="post">
        {% csrf_token %}
        <h1 style="font-size: 2.5rem;"> Forgot Password?</h1>
        <hr>
        <label for="name">Enter your registered mobile number:  </label><br>
        <input type="text" class="in" name="phone"  required><br>
        
        <label for="name">Change password:  </label><br>
        <input type="text" class="in" name="password"  required><br>
        
        <label for="name">Re-type  password: </label><br>
        <input type="text" class="in" name="retype"  required><br>
        

        <input class="btn btn-primary btn-sm" type="submit" value="Submit">
        
    </form>
    
</section>
{% endblock container-2 %}