{% extends "generic.html" %}
{% load static %}

{% block CSS-links %}
<link rel="stylesheet" href="{% static 'CSS/forgot-password.css' %} " />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock CSS-links %}

{% block container-2 %}
<section class="container-2">
        
    
    <form action="#" class="form1" method="post">
        {% csrf_token %}
        <h1 style="font-size: 2.5rem;"> Forgot Password?</h1>
        <hr>
        <div class="first">
            <label for="username">Enter username : </label><br>
            <input type="text" class="in" name="username" id="username"  ><br>
            <input type="text" name="condt" hidden value="{{condt}}">
            <input class="btn btn-primary btn-sm" id="first" name="first" type="submit" value="Submit">
        </div>
        <div class="second">

            <label for="OTP">Enter OTP : </label><br>
            <input type="number" class="in" name="OTP"  ><br>

            <label for="name">Change password:  </label><br>
            <input type="password" class="in" id="password" name="password"  ><br>
            
            <label for="name">Re-type  password: </label><br>
            <input type="password" class="in" id="repassword" name="repassword"  ><br>
            <span id='message'></span>


            <input class="btn btn-primary btn-sm" id="second" name="second" type="submit" value="Submit">

        </div>

        
    </form>
   
    <script>
        {% if condt == "second" %}
            $(".first").hide();
            $(".second").show();
        {% else %}
            $(".first").show();
            $(".second").hide();
        {% endif %}

        $('#password, #repassword').on('keyup', function () {
            if ($('#password').val() == $('#repassword').val()) {
              $('#message').html('Matching').css('color', 'green');
            } else 
              $('#message').html('Not Matching').css('color', 'red');
          });
       
    </script>
   
</section>
{% endblock container-2 %}