{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="{%static '/CSS/styles.css'%}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap"
        rel="stylesheet" />

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/649781fc3e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>E-kisan Farming</title>
    <style>
        .alert-success{
            color: #0f5132;
            background-color: #d1e7dd;
            border-color: #badbcc;   
        }
        .alert-warning{
            color: #664d03;
            background-color: #fff3cd;
            border-color: #ffecb5;
        }
        .alert-error{
            color: #842029;
            background-color: #f8d7da;
            border-color: #f5c2c7;
        }
    </style>
</head>

<body>
    <section class="container-1">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'home' %}">E-Kisan Farming</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'products' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'contractfarming' %}">Contract Farming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'showcart' %}">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact-us' %}">Contact us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i> {{user.username}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'sign-out' %}">logout</a></li>

                        </ul>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign-up' %}">Login/Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        <div class="container-fluid"></div>
        <!-- Navbar ends -->
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h1 class="heading1">Welcome to <br> E-Kisan Farming</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae adipisci excepturi, vel neque
                    quo ad nam perspiciatis nihil blanditiis corrupti impedit unde provident veniam explicabo dolorum
                    voluptas aliquid? Suscipit, expedita.</p>
            </div>
            <div class="col-lg-6 col-md-12" style="text-align: center;">
                <img src="{%static 'Images/Indian villagers life.jfif' %}" class="head-img" alt="">
            </div>
        </div>
        </div>
    </section>
    {% if messages %}
        {% for message in messages %}
        
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" style="font-size:1.20rem; text-align:center" role="alert">
            {{message}}
        
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        
        {% endfor %}
        {% endif %}
    <section class="container-2">
        <div class="container-fluid">
            <div class="row">
                <div class="box col-md-4">
                    <img src="{%static 'Images/banana-modified.png' %}" alt="" class="img" />
                    <h4>Banana </h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
                        asperiores, repudiandae quaerat repellendus sit natus.
                    </p>
                </div>
                <div class="box col-md-4" class="img">
                    <img src="{%static 'Images/papaya-modified.png' %}" alt="" class="img" />
                    <h4>Papaya</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
                        asperiores, repudiandae quaerat repellendus sit natus.
                    </p>
                </div>
                <div class="box col-md-4">
                    <img src="{% static 'Images/cotton-modified.png' %}" alt="" class="img" />
                    <h4>Cotton</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
                        asperiores, repudiandae quaerat repellendus sit natus.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-4">


        <div class="firstHalf">
            <h1 class="text-big">About US</h1>
            <hr>
            <p class="text-small">
                Here you will get to know the team members of our company <br />
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
                ratione. Quia dignissimos veritatis eligendi, molestias quod quaerat
                suscipit, enim dicta, culpa quo vel dolorem omnis. Libero ab quibusdam
                vero distinctio! Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Eaque, ratione. Quia dignissimos veritatis eligendi, molestias
                quod quaerat suscipit, enim dicta, culpa quo vel dolorem omnis. Libero
                ab quibusdam vero distinctio! Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Eaque, ratione. Quia dignissimos veritatis eligendi,
                molestias quod quaerat suscipit, enim dicta, culpa quo vel dolorem
                omnis. Libero ab quibusdam vero distinctio!
            </p>

        </div>

    </section>
    <section class="container-5">

        <div class="content-5">

            <h1>Our Team.</h1>
            <hr>
            <div class="row team">
                <div class="col-lg-4 team-img1">
                    <img class="code-img" src="{% static 'Images/profile.png' %} " alt="">

                </div>
                <div class="col-lg-8 team-content1">
                    <h3>Lorem & Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna
                        lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
                </div>
            </div>
            <div class="row team-rev">
                <div class="col-lg-4 team-img1">
                    <img class="code-img" src="{% static 'Images/profile.png' %} " alt="">

                </div>
                <div class="col-lg-8 team-content1">
                    <h3>Lorem & Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna
                        lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
                </div>
            </div>
            

        </div>

    </section>

    <section class="container-3">
        <p>Copyright © 2022 E-Kisan Farming</p>
    </section>
</body>

</html>