{% extends "generic.html" %}
{% load static %}

{% block CSS-links %}
<link rel="stylesheet" href="{% static 'CSS/products.css' %} " />

{% endblock CSS-links %}

{% block container-2 %}
   

    <section class="container-2">
        <div class="content">

          {% for i in products %}

          <div class="card" style="width: 18rem;">
            <img src="/media/{{i.product_image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5>{{i.title}}</h5>
              <p class="card-text">{{i.description}}</p>
              
              <form action="{% url 'add-to-cart' %}" class="d-inline">
                <input type="hidden" name="prod_id" value="{{i.id}}" id="prod_id">
                <input class="btn btn-primary btn-sm" type="submit" value="Submit">
              </form>

            </div>
          </div>
          {% endfor %}
          
        </div>
       
    </section>
    
    {% endblock container-2 %}
    