{% extends "generic.html" %}
{% load static %}

{% block CSS-links %}
<link rel="stylesheet" href="{% static 'CSS/products.css' %} " />

{% endblock CSS-links %}

{% block container-2 %}
   

    <section class="container-2">
        <div class="content">

          {% for i in products %}

          <div class="card" style="width: 18rem;">
            <img src="/media/{{i.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5>{{i.name}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          {% endfor %}
          
        </div>
       
    </section>
    
    {% endblock container-2 %}