{% extends "generic.html" %}
{% load static %}

{% block CSS-links %}
<link rel="stylesheet" href="{% static 'CSS/profile.css' %} " />

{% endblock CSS-links %}

{% block container-2 %}
<section class="container-2">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-3 info">
            <div class="img-div">
               <img src="/media/{{customuser.profile_pic}}" alt="" class="profimg">
            </div>
            <h4 class="name">{{customuser.name}}</h4>
            <div class="content">
               <p>Email : {{customuser.email}}</p>
               <p>Mobile : {{customuser.phone}}</p>
               <p>Date of Birth : {{customuser.date_of_birth|date:'d-m-Y'}}</p>
               <p>Facebook : </p>
               <div class="but">
                  <button class="btn btn-primary btn-sm">Edit</button>
               </div>
            </div>
         </div>

         <div class="col-lg-9 info-2">
            <h2>My Products</h2>
            <hr>
            <div class="content-2">

               <div class="row">
                  <div class="col-lg-4">
                     
                     <img src="{% static 'Images/Banana-modified.png' %}" class="img" alt="...">

                  </div>
                  <div class="col-lg-8 info-3">
                     <h4>Crop Name</h4>
                     <table>
                        <tbody>
                           <tr>
                              <td>Sown on : </td>
                              <td></td>
                           </tr>
                           <tr>
                              <td>Reap on : </td>
                              <td></td>
                           </tr>
                           <tr>
                              <td>Crop type : </td>
                              <td></td>
                           </tr>
                           <tr>
                              <td>Land area : </td>
                              <td></td>
                           </tr>
                        </tbody>

                     </table>

                  </div>
               </div>
            </div>
            
            <div class="content-2-btn">
            <button class="btn btn-primary btn-sm ">Add</button>
            <button class="btn btn-primary btn-sm ">Delete</button>
         </div>

         </div>
      </div>
</section>
{% endblock container-2 %}