{% extends "generic.html" %}
{% load static %}

{% block CSS-links %}
<link rel="stylesheet" href="{% static 'CSS/profile.css' %} " />

{% endblock CSS-links %}

{% block container-2 %}
<section class="container-2">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-3 info">
            <div class="img-div">
               <img src="/media/{{customuser.profile_pic}}" alt="" class="profimg">
            </div>
            <h4 class="name">{{customuser.name}}</h4>
            <div class="content">
               <p>Email : {{customuser.email}}</p>
               <p>Mobile : {{customuser.phone}}</p>
               <p>Date of Birth : {{customuser.date_of_birth|date:'d-m-Y'}}</p>
               {% comment %} <p>Facebook : </p> {% endcomment %}
               <div class="but">
                  <button class="btn btn-primary btn-sm">Edit</button>
               </div>
            </div>
         </div>

         <div class="col-lg-9 info-2">
            <h2>My Orders</h2>
            <hr>
            {% for i in orders %}
            <div class="content-2">
               <div class="row">
                  <div class="col-lg-4">
                     <img src="/media/{{i.product.product_image}}" class="img" alt="..." />
                  </div>
                  <div class="col-lg-8 info-3">
                     <h4>{{i.title}}</h4>
                     <table>
                        <tbody>
                           <tr>
                              <td class="titles">Sown on :</td>
                              <td>{{i.product.sown}}</td>
                           </tr>
                           <tr>
                              <td class="titles">Reap on :</td>
                              <td>{{i.product.reap}}</td>
                           </tr>
                           <tr>
                              <td class="titles">Land area :</td>
                              <td>{{i.product.land_area}}</td>
                           </tr>
                           <tr>
                              <td class="titles">Adress :</td>
                              <td>{{i.product.address}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
            
      </div>
</section>
{% endblock container-2 %}
